.container .mySwiper {
  width: 100%;
}

.mySwiper .swiperslide {
  -webkit-transform: translateZ(0);
}

.swiper-button-next, 
.swiper-button-prev {
  color: orange;
}

/* For styling the buttons 

.swiper-button-next {
  background-image: url();
}

.swiper-button-prev {
  background-image: url();
}

.swiper-button-next, 
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-next, 
.swiper-button-prev {
  display: none;
}

*/

.swiper-pagination-bullet-active {
  background-color: orange;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  color: black;
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 1rem;
}

.button-div {
  margin: auto;
}

.column-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.row-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}


.add2Cart {
  width: 100%;
  padding: 1rem 2rem;
  background: #ffc500;
  color: black;
  border: transparent;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.add2Cart:hover {
  background: black;
  color: hsl(0, 0%, 100%);
  transition: 0.5s ease-out;
}


.decrease {
  padding: 1rem;
  background: #ffc500;
  color: black;
  border: transparent;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.decrease:hover {
    background: black;
    color: hsl(0, 0%, 100%);
    transition: 0.5s ease-out;
}

.increase {
  padding: 1rem;
  background: #ffc500;
  color: black;
  border: transparent;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.increase:hover {
  background: black;
  color: hsl(0, 0%, 100%);
  transition: 0.5s ease-out;
}


.remove {
  padding: .5rem;
  background: red;
  color: black;
  border: transparent;
  /* border-radius: 10px; */
  font-size: 1rem;
  cursor: pointer;
}

.remove:hover {
  background: black;
  color: hsl(0, 0%, 100%);
  transition: 0.5s ease-out;
}

/* .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }


    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    */